<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <div class="d-inline-flexx">
            <div class="d-flex align-items-center">
                <img src="images/captive-portal.svg" alt="captive portal" class="img-fluid" />
                <h3 class="fs-4 ms-2 mb-0">
                    <LinkTo @route="index" class="link-body-emphasis text-decoration-none">{{@appName}}</LinkTo>
                </h3>
            </div>
        </div>
        <div class="mt-2 mt-md-0 ms-md-auto">
{{#if this.authUsername}}
            <div class="dropdown">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hi, {{this.authUsername}}!</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="javascript:void(0)" {{ on "click" this.signOut }}>
                            Sign out
                        </a>
                    </li>
                    <li>
                        <LinkTo class="dropdown-item" @route="customer.orders">
                            Orders
                        </LinkTo>
                    </li>
                </ul>
            </div>
{{else}}
            {{yield}}
{{/if}}
        </div>
    </div>
</header>
