<nav ...attributes>
{{#if this.customer.acustomer.is_authenticated}}
  <Dropdown @links={{array (hash route="customer.sign-out" text="Sign out" ) (hash route="customer.orders" text="Orders"
    )}} as |bsDropdown|>
    <a class="link-body-emphasis text-decoration-none" href="javascript:void(0)" role="button" {{on "click"
      bsDropdown}}>
{{#if (this.isCurrentCustomer this)}}
      {{this.customer_text}}
{{else}}
      {{get (this.customerText this) 'customer_text'}}
{{/if}}
    </a>
  </Dropdown>
{{else}}
  {{yield this.router.currentRouteName (this.isSignIn this.router.currentRouteName)}}
{{/if}}
</nav>
