<table ...attributes>
    <thead>
        <tr>
{{#each @columns as |column|}}
            <th scope="col" class="text-center">{{column}}</th>
{{/each}}
        </tr>
    </thead>
    <tbody>
{{#each @orders as |order index|}}
        <tr>
            <td class="text-center">{{calculate index "1" operator="+"}}</td>
            <td>{{order.menuItem.name}}</td>
            <td>{{local-string order.menuItem.price}}</td>
            <td>{{local-string order.qty}}</td>
            <td>{{if order.menuItem.isLoaded (local-string (calculate order.menuItem.price order.qty operator="*"))}}
            </td>
        </tr>
{{/each}}
    </tbody>
    {{yield (this.grandTotal @orders)}}
</table>
