{{page-title (concat this.model.name " | Dishes")}}

<main class="container" id="dish">
  <div class="row">
    <div class="card m-3" id="dish-detail">
      <img src="/images/dishes/{{this.model.image}}" class="card-img-top" alt="{{this.model.name}}">
      <div class="card-body">
        <h4 class="card-title pb-1">{{this.model.name}}</h4>
        <p class="card-text pb-2">{{local_string this.model.price}}</p>
      </div>
    </div>
    <div class="card m-3" id="order-form">
      <div class="card-body">
        <h4 class="card-title mb-3">Order Form</h4>
        <form {{ on "submit" this.submit }}>
          <div class="form-group row">
            <label for="name" class="col-5 col-form-label">Order name</label>
            <div class="col-7">
              <Input @type="text" id="name" class="form-control-plaintext" @value={{this.model.name}} readonly />
            </div>
          </div>
          <div class="form-group row">
            <label for="qty" class="col-5 col-form-label">Quantity</label>
            <div class="col-7">
              <Input @type="number" id="qty" class="form-control" @value={{this.qty}} required />
            </div>
          </div>
          <button type="submit" class="btn btn-primary my-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>
