{{page-title this.appTitle}}

<div class="container h-100">
  <div class="row pt-3">
    <header class="col-auto me-auto my-auto">
      <div class="d-flex justify-content-start align-items-center">
        <img src="{{this.target.rootURL}}images/captive-portal.svg" alt="captive portal" class="img-fluid" />
        <h3 class="fs-4 ms-2 mb-0">
          <LinkTo @route="index" class="link-body-emphasis text-decoration-none">
            {{this.appTitle}}
          </LinkTo>
        </h3>
      </div>
    </header>
    <nav class="col-auto">
{{#if this.currentCustomer}}
      <div class="dropdown">
        <button class="btn btn-link link-body-emphasis py-0 text-decoration-none" data-bs-toggle="dropdown">
          Hi,
{{#if this.currentCustomer.username}}
          {{concat this.currentCustomer.username "!"}}
{{/if}}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0)" role="button" {{on "click" this.signOut}}>
              Sign out
            </a>
          </li>
          <li>
            <LinkTo @route="customer.orders" class="dropdown-item">
              Orders
            </LinkTo>
          </li>
        </ul>
      </div>
{{else}}
      <button class={{concat "btn" " btn-link" " link-body-emphasis" " py-0" " text-decoration-none" (if this.isSignIn " disabled" )}}
        href="javascript:void(0)" role="button" {{on "click" this.transitionToSignIn}}>
        Sign in
      </button>
{{/if}}
    </nav>
  </div>
  <hr />
  <div class="row">
    <main>
      {{outlet}}
    </main>
  </div>
  <hr />
  <div class="row">
    <footer class="py-1">
      <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
    </footer>
  </div>
</div>
