<AppTitle as |title|>{{page-title title}}</AppTitle>

<div class="container h-100">
  <div class="row pt-3">
    <header class="col-auto me-auto my-auto">
      <div class="d-flex justify-content-start align-items-center">
        <img src="{{this.target.rootURL}}images/captive-portal.svg" alt="captive portal" class="img-fluid" />
        <h3 class="fs-4 ms-2 mb-0">
          <LinkTo @route="index" class="link-body-emphasis text-decoration-none">
            <AppTitle as |title|>{{title}}</AppTitle>
          </LinkTo>
        </h3>
      </div>
    </header>
    <CurrentCustomer as |currentCustomer|>
      <div class="col-auto">
{{#if currentCustomer}}
        <div class="dropdown">
          <a class="link-body-emphasis text-decoration-none" href="javascript:void(0)" role="button"
            data-bs-toggle="dropdown">
            Hi,
{{#if currentCustomer.username}}
            {{concat currentCustomer.username "!"}}
{{/if}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <SignOutButton class="dropdown-item">
                Sign out
              </SignOutButton>
            </li>
            <li>
              <LinkTo @route="customer.orders" class="dropdown-item">
                Orders
              </LinkTo>
            </li>
          </ul>
        </div>
{{else}}
        <SignInButton class="btn btn-link link-body-emphasis p-0 text-decoration-none">
          Sign in
        </SignInButton>
{{/if}}
      </div>
    </CurrentCustomer>
  </div>
  <hr />
  <div class="row">
    <main>
      {{outlet}}
    </main>
  </div>
  <hr />
  <div class="row">
    <footer class="py-1">
      <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
    </footer>
  </div>
</div>
